.screen{
    background-color: black;
    opacity: 90%;
    width: 100%;
    height: 641px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt{
    text-align: center;
    font-size: 30px;
    color: white;
    font-style: italic;
}

.btn{
    background-color: lightgrey;
    width: 100px;
    height: 50px;
    text-align: center;
    color: black;
    border-radius: 20px;
    margin-left: 10px;
    transition: 0.5s;
    font-size: 20px;
}

.btn:hover{
    background-color: lightgreen;
    color: darkgreen;
    border-color:darkgreen;
}